{
    "substances" : ["air", "helium", "water", "juice"],

    "amountFactors" : { // default: 1.0
        "juice" : 0.8
    },

    "additiveEffects" : ["liquidBuoyancy", "tintMultiplier", "mass", "airFriction", "bounceFactor", "normalGroundFriction"],
    "multiplicativeEffects" : ["gravityMultiplier"],
    "jumpEffects" : ["jumpSpeed"],
    "substanceEffects" : {
        "air" : {
            "liquidBuoyancy" : 3.0,
            "airFriction" : 2.0,
            "bounceFactor" : 0.95,
            "jumpSpeed" : 10
        },
        "helium" : {
            "liquidBuoyancy" : 4.0,
            "gravityMultiplier" : -0.25,
            "airFriction" : 2.5,
            "bounceFactor" : 0.95,
            "jumpSpeed" : 10
        },
        "water" : {
            "liquidBuoyancy" : 0.9,
            "mass" : 10.0,
            "normalGroundFriction" : 200.0
        },
        "juice" : {
            "liquidBuoyancy" : 0.75,
            "mass" : 10.0,
            "normalGroundFriction" : 200.0
        }
    },
    "tintMultiplier" : 1.5,

    "tintColor" : [128, 96, 240]
}