{
    "gui": {
        "background": {
            "zlevel": 0,
            "type": "background",
            "fileBody": "/assetmissing.png"
        },

        "windowtitle": {
            "type": "title",
            "title": "  Big Ballons",
            "subtitle": "  Just a test",
            "icon": {
                "type": "image",
                "file": "/interface/statuses/levitate.png",
                "zlevel": -1
            }
        },

        "airLabel" : {
            "type": "label",
            "position": [4, 64],
            "hAnchor": "left",
            "vAnchor": "top",
            "wrapWidth": 240,
            "value": "Air"
        },
        "airSlider": {
            "type": "slider",
            "position": [4, 48],
            "showSpinner": false,
            "gridImage" : "/interface/optionsmenu/smallselection.png",
            "callback": "updateSubstances"
        },
        "heliumLabel" : {
            "type": "label",
            "position": [4, 48],
            "hAnchor": "left",
            "vAnchor": "top",
            "wrapWidth": 240,
            "value": "Helium"
        },
        "heliumSlider": {
            "type": "slider",
            "position": [4, 32],
            "showSpinner": false,
            "gridImage" : "/interface/optionsmenu/smallselection.png",
            "callback": "updateSubstances"
        },
        "WaterLabel" : {
            "type": "label",
            "position": [4, 32],
            "hAnchor": "left",
            "vAnchor": "top",
            "wrapWidth": 240,
            "value": "Water"
        },
        "waterSlider": {
            "type": "slider",
            "position": [4, 16],
            "showSpinner": false,
            "gridImage" : "/interface/optionsmenu/smallselection.png",
            "callback": "updateSubstances"
        },
        "juiceLabel" : {
            "type": "label",
            "position": [4, 16],
            "hAnchor": "left",
            "vAnchor": "top",
            "wrapWidth": 240,
            "value": "Juice"
        },
        "juiceSlider": {
            "type": "slider",
            "position": [4, 0],
            "showSpinner": false,
            "gridImage" : "/interface/optionsmenu/smallselection.png",
            "callback": "updateSubstances"
        }
    },

    "sliderSteps" : 20,

    "scripts" : [ "/interface/scripted/bigballoons/bigballoonsgui.lua" ],
    "scriptDelta" : 0,
    "scriptWidgetCallbacks" : [
        "updateSubstances"
    ]
}
